# User Analytics in the Telecommunication Industry #

## Task 4 - Satisfaction Analysis ##

In this part, we wil assume that the satisfaction of a user is dependent on user engagement and experience, we will then analyze customer satisfaction in depth.

#### 1. Engagement score ####

In [1]:
#importing libraries
!pip install tabulate
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from statistics import *
from tabulate import tabulate
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

Requirement already satisfied: tabulate in c:\programdata\anaconda3\lib\site-packages (0.8.7)

In [2]:
#Reading the engagement datamart
data=pd.read_csv('engagement_datamart')
data.head()

   MSISDN/Number  no.of xDR sessions  Total Uls and DLs  session_freq
0   3.360100e+10                   1       5.173738e+08             1
1   3.360100e+10                   1       1.234090e+09             1
2   3.360100e+10                   1       7.183836e+08             1
3   3.360101e+10                   1       1.638393e+09             1
4   3.360101e+10                   2       1.158391e+09             1

In [3]:
data_MSISDN=data.copy()

In [4]:
data_MSISDN.head()

   MSISDN/Number  no.of xDR sessions  Total Uls and DLs  session_freq
0   3.360100e+10                   1       5.173738e+08             1
1   3.360100e+10                   1       1.234090e+09             1
2   3.360100e+10                   1       7.183836e+08             1
3   3.360101e+10                   1       1.638393e+09             1
4   3.360101e+10                   2       1.158391e+09             1

In [5]:
# first we will initialize the centroid of the least cluster in engagement score
c0=(-0.00395958, -0.4885642 ,  0.52150644,)

In [6]:
# A helper function to calculate the Euclidean diatance between the data 
# points and the least centroid in engagement score

def calculate_distance(centroid, X, Y,Z):
    distances = []
        
    # Unpack the x and y coordinates of the centroid
    c_x, c_y,c_z = centroid
        
    # Iterate over the data points and calculate the distance using the           # given formula
    for x, y,z in list(zip(X, Y,Z)):
        root_diff_x = (x - c_x) ** 2
        root_diff_y = (y - c_y) ** 2
        root_diff_z = (z - c_z) ** 2
        distance = np.sqrt(root_diff_x + root_diff_y + root_diff_z)
        distances.append(distance)
        
    return distances

In [7]:
# Calculate the distance and assign them to the DataFrame accordingly by calling the function
data_MSISDN['Engagement_Euclidean_Distance'] = calculate_distance(c0,data_MSISDN['no.of xDR sessions'],data_MSISDN['Total Uls and DLs'],data_MSISDN['session_freq'])

In [8]:
data_MSISDN.head()

,MSISDN/Number,no.of xDR sessions,Total Uls and DLs,session_freq,Engagement_Euclidean_Distance
0,3.360100e+10,1,5.173738e+08,1,5.173738e+08
1,3.360100e+10,1,1.234090e+09,1,1.234090e+09
2,3.360100e+10,1,7.183836e+08,1,7.183836e+08
3,3.360101e+10,1,1.638393e+09,1,1.638393e+09
4,3.360101e+10,2,1.158391e+09,1,1.158391e+09

#### 1. Experience Score ####

In [9]:
#loading Experience datamart
exp_data=pd.read_csv('experience_datamart')

In [10]:
exp_data1=exp_data[['MSISDN/Number','Average TCP retransmission','Average RTT','Average throughput']]
exp_data1.head()

   MSISDN/Number  Average TCP retransmission  Average RTT  Average throughput
0   3.366496e+10                2.156957e+07    47.000000                46.0
1   3.368185e+10                2.156957e+07    70.000000                32.0
2   3.376063e+10                2.156957e+07   127.458589                12.0
3   3.375034e+10                2.156957e+07   127.458589                88.0
4   3.369980e+10                2.156957e+07   127.458589                12.0

In [11]:
# first we will initialize the centroid of the least cluster in experience score
c1=(3.13199983e+09, 1.49370370e+02, 1.26895321e+05)

In [12]:
# A helper function to calculate the Euclidean diatance between the data 
# points and the least centroid in experience score

def calculate_distance(centroid, X, Y,Z):
    distances = []
        
    # Unpack the x and y coordinates of the centroid
    c_x, c_y,c_z = centroid
        
    # Iterate over the data points and calculate the distance using the           # given formula
    for x, y,z in list(zip(X, Y,Z)):
        root_diff_x = (x - c_x) ** 2
        root_diff_y = (y - c_y) ** 2
        root_diff_z = (z - c_z) ** 2
        distance = np.sqrt(root_diff_x + root_diff_y + root_diff_z)
        distances.append(distance)
        
    return distances

In [13]:
# Calculate the distance and assign the values to the DataFrame accordingly by calling the function
exp_data1['Experience_Euclidean_Distance'] = calculate_distance(c1,exp_data1['Average TCP retransmission'],exp_data1['Average RTT'],exp_data1['Average throughput'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
exp_data1.head()

,MSISDN/Number,Average TCP retransmission,Average RTT,Average throughput,Experience_Euclidean_Distance
0,3.366496e+10,2.156957e+07,47.000000,46.0,3.110430e+09
1,3.368185e+10,2.156957e+07,70.000000,32.0,3.110430e+09
2,3.376063e+10,2.156957e+07,127.458589,12.0,3.110430e+09
3,3.375034e+10,2.156957e+07,127.458589,88.0,3.110430e+09
4,3.369980e+10,2.156957e+07,127.458589,12.0,3.110430e+09

### Determining the satisfaction level of the customers ###

In [15]:
scores_data=exp_data1[['MSISDN/Number','Experience_Euclidean_Distance']]

In [16]:
scores_data.head()

   MSISDN/Number  Experience_Euclidean_Distance
0   3.366496e+10                   3.110430e+09
1   3.368185e+10                   3.110430e+09
2   3.376063e+10                   3.110430e+09
3   3.375034e+10                   3.110430e+09
4   3.369980e+10                   3.110430e+09

In [17]:
eng_score=data_MSISDN[['Engagement_Euclidean_Distance']]

In [18]:
eng_score

        Engagement_Euclidean_Distance
0                        5.173738e+08
1                        1.234090e+09
2                        7.183836e+08
3                        1.638393e+09
4                        1.158391e+09
5                        1.439738e+09
6                        9.221409e+08
7                        1.371765e+09
8                        1.076896e+09
9                        9.378444e+08
10                       7.472439e+08
11                       1.095797e+09
12                       8.833491e+08
13                       8.608276e+08
14                       3.712218e+08
15                       2.381956e+08
16                       5.581972e+08
17                       5.924682e+08
18                       4.523731e+08
19                       7.758777e+08
20                       6.097900e+08
21                       7.320712e+08
22                       1.073073e+09
23                       1.607953e+09
24                       1.070564e+09
25                       8.364596e+08
26                       4.460480e+08
27                       7.822126e+08
28                       8.387594e+08
29                       1.001275e+09
...                               ...
106826                   1.397927e+09
106827                   5.362948e+08
106828                   1.020036e+09
106829                   8.580798e+08
106830                   9.608852e+08
106831                   1.059497e+09
106832                   1.007289e+09
106833                   5.908207e+08
106834                   1.173060e+09
106835                   9.785531e+08
106836                   9.281506e+08
106837                   9.521538e+08
106838                   4.545137e+08
106839                   8.482633e+08
106840                   2.532309e+08
106841                   1.236339e+09
106842                   7.564859e+08
106843                   1.278474e+09
106844                   1.143569e+09
106845                   1.158831e+09
106846                   4.508421e+08
106847                   9.645736e+08
106848                   1.056376e+09
106849                   5.251086e+08
106850                   7.596144e+08
106851                   9.215483e+08
106852                   9.993291e+08
106853                   6.968673e+08
106854                   8.822031e+08
106855                   1.309480e+09

[106856 rows x 1 columns]

In [19]:
scores=pd.concat([eng_score,scores_data], axis=1, ignore_index=True)

In [20]:
scores.head()

              0             1             2
0  5.173738e+08  3.366496e+10  3.110430e+09
1  1.234090e+09  3.368185e+10  3.110430e+09
2  7.183836e+08  3.376063e+10  3.110430e+09
3  1.638393e+09  3.375034e+10  3.110430e+09
4  1.158391e+09  3.369980e+10  3.110430e+09

In [21]:
scores.columns=['Engagement_Euclidean_Distance','MSISDN/Number','Experience_Euclidean_Distance']

In [22]:
scores['Engagement_Euclidean_Distance'].fillna(value=scores['Engagement_Euclidean_Distance'].mean(), inplace=True)

In [57]:
scores.head()

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score
0,5.173738e+08,3.366496e+10,3.110430e+09,3.627804e+09
1,1.234090e+09,3.368185e+10,3.110430e+09,4.344520e+09
2,7.183836e+08,3.376063e+10,3.110430e+09,3.828814e+09
3,1.638393e+09,3.375034e+10,3.110430e+09,4.748823e+09
4,1.158391e+09,3.369980e+10,3.110430e+09,4.268821e+09

In [24]:
'''#getting the satisfaction score by adding the engagement and experience score
scores['satisfaction_score']=scores['Engagement_Euclidean_Distance']+scores['Experience_Euclidean_Distance']'''

In [58]:
scores['satisfaction_score'] = scores[['Engagement_Euclidean_Distance', 'Experience_Euclidean_Distance']].mean(axis=1)

In [59]:
scores.head()

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score
0,5.173738e+08,3.366496e+10,3.110430e+09,1.813902e+09
1,1.234090e+09,3.368185e+10,3.110430e+09,2.172260e+09
2,7.183836e+08,3.376063e+10,3.110430e+09,1.914407e+09
3,1.638393e+09,3.375034e+10,3.110430e+09,2.374411e+09
4,1.158391e+09,3.369980e+10,3.110430e+09,2.134411e+09

In [60]:
#sorting the satisfaction score per customer
top10=scores.sort_values(by='satisfaction_score',ascending=False).head(10)

In [80]:
top10

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score
38391,1.780674e+09,3.365094e+10,3.127786e+09,2.454230e+09
94379,1.772824e+09,3.366385e+10,3.131948e+09,2.452386e+09
70184,1.771882e+09,3.366556e+10,3.131238e+09,2.451560e+09
1643,1.762451e+09,3.366836e+10,3.131407e+09,2.446929e+09
97165,1.761169e+09,3.375200e+10,3.131958e+09,2.446564e+09
85224,1.760919e+09,3.366195e+10,3.131526e+09,2.446223e+09
45279,1.760477e+09,3.376363e+10,3.131799e+09,2.446138e+09
18393,1.760805e+09,3.366366e+10,3.131208e+09,2.446007e+09
5086,1.756118e+09,3.376082e+10,3.131620e+09,2.443869e+09
16024,1.757861e+09,3.366957e+10,3.129495e+09,2.443678e+09

In [85]:
Engagement_score=top10['Engagement_Euclidean_Distance']

In [90]:

Engagement_score=top10['Engagement_Euclidean_Distance']
levels=['1','2','3','4','5','6','7','8','9','10']
Experience_score=top10['Experience_Euclidean_Distance']
fig = go.Figure()
fig.add_trace(go.Bar(
    x=levels,
    y=Engagement_score,
    name='Engagement_score',
    marker_color='indianred'
))
fig.add_trace(go.Bar(
    x=levels,
    y=Experience_score,
    name='Experience_score',
    marker_color='lightsalmon'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.show()

In [62]:
top10.to_csv("Top10_satisfied_customers",index=False)

### Regression Modeling ###

We will use Ridge Regression because of GridSearchCV which allows us to automatically perform 5-fold cross-validation with a range of different regularization parameters in order to find the optimal value of alpha

In [29]:
'''alpha = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]

ridge = Ridge()

parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]}

ridge_regressor = GridSearchCV(ridge, parameters,scoring='neg_mean_squared_error', cv=5)

ridge_regressor.fit(Xs, y)'''

NameError: name 'Xs' is not defined

### K -means Clustering ###

In [63]:
scores.head()

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score
0,5.173738e+08,3.366496e+10,3.110430e+09,1.813902e+09
1,1.234090e+09,3.368185e+10,3.110430e+09,2.172260e+09
2,7.183836e+08,3.376063e+10,3.110430e+09,1.914407e+09
3,1.638393e+09,3.375034e+10,3.110430e+09,2.374411e+09
4,1.158391e+09,3.369980e+10,3.110430e+09,2.134411e+09

In [64]:
scores1=scores[['MSISDN/Number','Engagement_Euclidean_Distance','Experience_Euclidean_Distance']]

In [65]:
scores1.head()

   MSISDN/Number  Engagement_Euclidean_Distance  Experience_Euclidean_Distance
0   3.366496e+10                   5.173738e+08                   3.110430e+09
1   3.368185e+10                   1.234090e+09                   3.110430e+09
2   3.376063e+10                   7.183836e+08                   3.110430e+09
3   3.375034e+10                   1.638393e+09                   3.110430e+09
4   3.369980e+10                   1.158391e+09                   3.110430e+09

In [66]:
scores1.describe()

,MSISDN/Number,Engagement_Euclidean_Distance,Experience_Euclidean_Distance
count,1.500010e+05,1.500010e+05,1.500010e+05
mean,4.182414e+10,9.166177e+08,3.111019e+09
std,2.438731e+12,2.907772e+08,1.018117e+08
min,3.360100e+10,5.836229e+07,5.353832e+06
25%,3.365094e+10,7.792049e+08,3.110430e+09
50%,3.366361e+10,9.166177e+08,3.110430e+09
75%,3.368307e+10,1.053934e+09,3.130507e+09
max,8.823971e+14,1.780674e+09,3.132000e+09

In [67]:
#Normalizing the data
x = scores1.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
scores2 = pd.DataFrame(x_scaled)

In [68]:
# k means using 2 clusters and k-means++ initialization
kmeans = KMeans(n_jobs = -1, n_clusters = 2, init='k-means++')
kmeans.fit(scores2)
pred = kmeans.predict(scores2)

In [69]:
scores_clustered = pd.DataFrame(scores2)
scores_clustered['clusters'] = pred

In [70]:
scores_clustered.head()

              0         1         2  clusters
0  7.248772e-08  0.266509  0.993101         1
1  9.163195e-08  0.682645  0.993101         0
2  1.809066e-07  0.383218  0.993101         1
3  1.692516e-07  0.917389  0.993101         0
4  1.119654e-07  0.638693  0.993101         0

In [71]:
scores_clustered['clusters'].value_counts()

0    109976
1     40025
Name: clusters, dtype: int64

### Aggregating the average of satisfaction & experience score per cluster ###

In [72]:
cluster_data=scores_clustered['clusters']

In [73]:
cluster_scores=pd.concat([scores,cluster_data], axis=1, ignore_index=True)

In [74]:
cluster_scores.columns=['Engagement_Euclidean_Distance','MSISDN/Number','Experience_Euclidean_Distance','satisfaction_score','clusters']

In [75]:
cluster_scores.head()

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score,clusters
0,5.173738e+08,3.366496e+10,3.110430e+09,1.813902e+09,1
1,1.234090e+09,3.368185e+10,3.110430e+09,2.172260e+09,0
2,7.183836e+08,3.376063e+10,3.110430e+09,1.914407e+09,1
3,1.638393e+09,3.375034e+10,3.110430e+09,2.374411e+09,0
4,1.158391e+09,3.369980e+10,3.110430e+09,2.134411e+09,0

In [91]:
cluster_scores['clusters'].value_counts()

0    109976
1     40025
Name: clusters, dtype: int64

### Exporting final scores Table to MySQL Database ###

In [47]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/32/92/aa9f928c09302be5897c8707264cb56ae2fad10425e37db04f2c4310781b/mysql_connector_python-8.0.21-cp37-cp37m-win_amd64.whl (809kB)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (40.8.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.21

In [76]:
scores.head()

,Engagement_Euclidean_Distance,MSISDN/Number,Experience_Euclidean_Distance,satisfaction_score
0,5.173738e+08,3.366496e+10,3.110430e+09,1.813902e+09
1,1.234090e+09,3.368185e+10,3.110430e+09,2.172260e+09
2,7.183836e+08,3.376063e+10,3.110430e+09,1.914407e+09
3,1.638393e+09,3.375034e+10,3.110430e+09,2.374411e+09
4,1.158391e+09,3.369980e+10,3.110430e+09,2.134411e+09

In [77]:
scores.rename(columns={"Engagement_Euclidean_Distance": "Engagement_score", "Experience_Euclidean_Distance": "Experience_score"})

        Engagement_score  MSISDN/Number  Experience_score  satisfaction_score
0           5.173738e+08   3.366496e+10      3.110430e+09        1.813902e+09
1           1.234090e+09   3.368185e+10      3.110430e+09        2.172260e+09
2           7.183836e+08   3.376063e+10      3.110430e+09        1.914407e+09
3           1.638393e+09   3.375034e+10      3.110430e+09        2.374411e+09
4           1.158391e+09   3.369980e+10      3.110430e+09        2.134411e+09
5           1.439738e+09   3.366819e+10      3.110430e+09        2.275084e+09
6           9.221409e+08   3.366537e+10      3.110430e+09        2.016286e+09
7           1.371765e+09   3.376349e+10      3.131221e+09        2.251493e+09
8           1.076896e+09   3.369874e+10      3.110430e+09        2.093663e+09
9           9.378444e+08   3.365922e+10      3.128761e+09        2.033303e+09
10          7.472439e+08   3.366565e+10      3.110430e+09        1.928837e+09
11          1.095797e+09   3.366447e+10      3.125965e+09        2.110881e+09
12          8.833491e+08   3.360329e+10      3.110430e+09        1.996890e+09
13          8.608276e+08   3.365922e+10      3.110430e+09        1.985629e+09
14          3.712218e+08   3.365922e+10      3.099211e+09        1.735216e+09
15          2.381956e+08   3.375376e+10      3.118153e+09        1.678174e+09
16          5.581972e+08   3.366901e+10      3.110430e+09        1.834314e+09
17          5.924682e+08   3.366878e+10      3.110430e+09        1.851449e+09
18          4.523731e+08   3.369876e+10      3.110430e+09        1.781402e+09
19          7.758777e+08   3.376060e+10      3.110430e+09        1.943154e+09
20          6.097900e+08   3.365875e+10      3.122134e+09        1.865962e+09
21          7.320712e+08   3.365922e+10      3.107251e+09        1.919661e+09
22          1.073073e+09   3.362124e+10      3.110430e+09        2.091752e+09
23          1.607953e+09   3.368183e+10      3.110430e+09        2.359192e+09
24          1.070564e+09   3.361154e+10      3.110430e+09        2.090497e+09
25          8.364596e+08   3.377042e+10      3.110430e+09        1.973445e+09
26          4.460480e+08   3.366284e+10      3.110430e+09        1.778239e+09
27          7.822126e+08   3.366434e+10      3.110430e+09        1.946321e+09
28          8.387594e+08   3.366916e+10      3.110430e+09        1.974595e+09
29          1.001275e+09   3.369826e+10      3.110430e+09        2.055853e+09
...                  ...            ...               ...                 ...
149971      9.166177e+08   3.366394e+10      3.131984e+09        2.024301e+09
149972      9.166177e+08   3.376239e+10      3.131238e+09        2.023928e+09
149973      9.166177e+08   3.366856e+10      3.131303e+09        2.023960e+09
149974      9.166177e+08   3.365093e+10      3.110430e+09        2.013524e+09
149975      9.166177e+08   3.366078e+10      3.131369e+09        2.023994e+09
149976      9.166177e+08   3.366286e+10      3.110430e+09        2.013524e+09
149977      9.166177e+08   3.366394e+10      3.110430e+09        2.013524e+09
149978      9.166177e+08   3.366905e+10      3.110430e+09        2.013524e+09
149979      9.166177e+08   3.376185e+10      3.128969e+09        2.022793e+09
149980      9.166177e+08   3.366524e+10      3.123534e+09        2.020076e+09
149981      9.166177e+08   3.362060e+10      3.110430e+09        2.013524e+09
149982      9.166177e+08   3.366658e+10      3.131583e+09        2.024101e+09
149983      9.166177e+08   3.366004e+10      3.110430e+09        2.013524e+09
149984      9.166177e+08   3.363551e+10      3.110430e+09        2.013524e+09
149985      9.166177e+08   3.378663e+10      3.110430e+09        2.013524e+09
149986      9.166177e+08   3.366436e+10      3.131221e+09        2.023919e+09
149987      9.166177e+08   3.366436e+10      3.110430e+09        2.013524e+09
149988      9.166177e+08   3.366083e+10      3.110430e+09        2.013524e+09
149989      9.166177e+08   3.368584e+10      3.131907e+09        2.024263e+09
149990      9.166177e+08   3.376127e+10      3.131995e+09        2.024306e+09
149991      9.166177e+08   3.376215e+10      3.110430e+09        2.013524e+09
149992      9.166177e+08   3.376127e+10      3.110430e+09        2.013524e+09
149993      9.166177e+08   3.362611e+10      3.110430e+09        2.013524e+09
149994      9.166177e+08   3.364566e+10      3.110430e+09        2.013524e+09
149995      9.166177e+08   3.366865e+10      3.115284e+09        2.015951e+09
149996      9.166177e+08   3.365069e+10      3.110430e+09        2.013524e+09
149997      9.166177e+08   3.366345e+10      3.110430e+09        2.013524e+09
149998      9.166177e+08   3.362189e+10      3.110430e+09        2.013524e+09
149999      9.166177e+08   3.361962e+10      3.110430e+09        2.013524e+09
150000      9.166177e+08   3.362632e+10      3.110430e+09        2.013524e+09

[150001 rows x 4 columns]

In [78]:
scores.to_csv('final_tellco_table.csv',index=False)

### SELECT statement on the exported table using python ###

In [52]:
#First we import MySQL connector
import mysql.connector

In [79]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='elvis_10acad',
                                         user='root',
                                         password='Oyogo0713613781#')

    sql_select_Query = "select * from final_tellco_table" #counting how many rows we have in our table
    cursor = connection.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    print(cursor.rowcount)
except Error as e:
    print("Error reading data from MySQL table", e)

150001